.background {
    background-color: #D3BFbf;
}

.navbar a {
    float: left;
    color: #3d3b3b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
header div img {
    width: 141px;
}