* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #D3BFBF;
}

/* --------------------- NavBar --------------------------- */

#header-img {
    width: 121px;
    height: 62px;
}

#item-list {
    display: none;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li a {
    display: block;
    color: #707070;
    text-align: center;
    padding: 20px;
    margin: 0px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 7%;
}

.link-items {
    display: flex;
}

.left {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 6px;
}

header nav div a i {
    font-size: 30px;
    color: #707070;
    margin: 6px;
}

header {
    background-color: #fff;
}

/* -------------------------- Video -------------------------- */
#video {
    width: 100%;
}

/*-------------------------- Contact -------------------------------*/
form {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#email {
    margin-top: 20px;
    padding: 5px;

}

#submit {

    margin: 10px;
    padding: 7px;
    border-radius: 5%;
    border-width: 0px;
    border-style: none;
    box-shadow: 0px 5px 15px grey;
    color: #707070;
    background-color: #fff;
}

#submit:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 7%;
}

/* ----------------- items --------------- */

#content {
    letter-spacing: 0.8px;
    word-spacing: 2.2px;
    font-size: 13px;
    color: #707070;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

p {
    color: black;
    padding: 5px;
}

.container div {
    padding: 35px 35px 40px;
    margin: 30px 8px 0px;
    border: 1px rgb(230, 230, 230) solid;
    box-shadow: 0px 5px 15px grey;
    background-color: #fff;
}

/* ------------------- button -------------------- */

.ila {
    border-radius: 5%;
    border-style: solid;
    margin: 15px;
    padding: 10px;
    background-color: #D3BFBF;
    color: rgb(59, 12, 12);
    box-shadow: 0px 2px 9px rgb(172, 171, 171);

}

.ila:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 7%;
}

#moon-key {
    font-family: sans-serif;
    color: #707070;
    margin-top: 15px;
}


/* ------------------------- footer -------------------- */

#end {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: gray;
    flex-direction: row;
    padding: 10px;


}

#emblems {
    display: flex;
    align-items: center;
}

footer div i {
    color: #fff;

}

footer a {
    text-decoration: none;
    font-family: sans-serif,
}

footer a:hover {
    text-decoration: underline;
}

/*----------------- Media ----------------*/

@media only screen and (max-width: 375px) {
    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #707070;
        flex-direction: column;
    }

    #end {
        display: none;
    }

    #submit {
        margin-bottom: 30px;
    }

    #item-list {
        display: flex;
        justify-i: flex-end;
    }

    .right {
        display: none;
    }

    #shopping-cart {
        display: none;
    }
    
    
}