.background {
    background-color: #D3BFBF;
}

ul {
    float: left;
    color: #0c0101;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

header div i {
    font-size: 30px;


}

#header-img {
    width: 121px;
    height: 62px;
}

.na-ana {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#shopping-cart {
    display: flex;
    align-content: flex-end;
}

#item-list {
   justify-content: flex-start
}

#test1 {
    display: flex;
    align-items: flex-start
}